li{
    list-style: none;

}
a,img,span,input,button,ion-icon{
    display: block;
}

html{
    font-family: var(--ff-roboto);
    font-size: 10px;
    scroll-behavior: smooth;
}

a{
    color: inherit;
    text-decoration: none;
}
:root{
    --section-padding : 50px;
    /* --shadow:0 0 2px hsla(0,0% 0%, 0.2); */

}
*,*::before,*::after{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
 /* img{
    height: auto;
 } */

input,button{
    background: none;
    border: none;
    font: inherit;
}

input{
    width: 100%;
}

button{
    cursor: pointer;
}
ion-icon{
    pointer-events: none;
}

address{
    font-style: normal;
}

body{
    background-color:  white;
    color: var(--black);
    font-size: 1.6rem;
    line-height:1.7;
    height:400vh;
}
 body.active {
    overflow: hidden;
 }
 :focus-visible{
    outline-offset: 4px;

 }
 ::placeholder{
    color: var(--manatee);
 }
 ::-webkit-scrollbar{
    width: 10px;
 }
 ::-webkit-scrollbar-track{
    background-color: hsl(0, 0%, 98%);
 }
 ::-webkit-scrollbar-thumb{
    background-color: hsl(0, 0%, 80%);
 }
 ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(0, 0%, 70%);
 }
 
 .container{
    padding-inline: 15px;
 }

  /* .social-wrapper{
    display: flex;
    align-items: center;
 }  */

 .social-list{ 
    display: flex;
    gap:30px;
 }  

 /* .social-link{
    transition: var(--transition-1);
 } */

  /* .social-link:is(:hover, :focus){
    color:rgba(0, 0, 0, 0.985);
 }  */

 .section{
    padding-block: var(--section-padding);
 }

 .img-holder{
    aspect-ratio: (--width)/var(--height);
    background-color:transparent;
    overflow: hidden;
}

.img-cover{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.h2,.h3{
    color: rgba(0, 0, 0, 0.799);
    font-weight: 700;
    line-height: 1.4;
}


/* .h2{
    font-size: large;
} */

.h3{
    font-size: medium;
}

.grid-list{
    display: grid;
    gap: 33px;
}

.has-before{
    position: relative;
    z-index:1;
}

.has-before::before{
    content: "";
    position: absolute;
}



/* __________HEADER ____________ */

 .header .input-wrapper{
    display: none;
 }

 .header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:bisque;
    padding-block: 15px;
    z-index: 4;
 }

 .header.active{
    position:fixed;
    transform: translateY(-100%);
    box-shadow: var(--shadow);
    animation: slideIn 0.5s ease forwards;
 }

 @keyframes slideIn{
     0% { transform: translateY(-100%); }
     100% { transform: translateY(0); }    
 }

 .header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
 }

 .logo{
    font-size: 3.3rem;
    font-weight: 700;
 }

 .header-action{
    display: flex;
    gap: 15px;
 }
 .header-action-btn{
    position: relative;
    font-size: 20px;
    transition:1;
 }

 .header-action-btn:is(:hover,:focus) {
    color:rgba(96, 98, 98, 0.768);

 }

 .header-action-btn .btn-badge{
    background:rgb(182, 98, 24);
    font-size:medium;
    font-weight: 400;
    color: white;
    position: absolute;
    bottom: -10px;
    right: -10px;
    padding-inline: 6px;
    border-radius: 50%;
 }

 /* ___________SIDEBARS____________ */

 .sidebar{
    position: fixed;
    top: 0;
    right: -420px;
    max-width: 420px;
    width:100%;
    height: 100%;
    background-color: rgb(239, 190, 130);
    padding: 40px;
    padding-block-end: 100px;
    overflow-y: auto;
    z-index: 5;
    visibility: hidden;
    transition: 0.25s;

}

.sidebar.active{
    transform:translateX(-380px);
    visibility:visible;
    transition:0.5s;


}

.nav-close-btn{
    font-size: 30px;
}

.sidebar .wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 40px 75px;
}

.sidebar-list-title,
.contact-list-title,
.social-list-title{
    color:rgba(0, 0, 0, 0.985);
    font-weight: bold;
}

.sidebar-list-title{
    margin-block-end: 15px;
}

.sidebar-link{
    color:rgba(0, 0, 0, 0.562);
    margin-block-start: 6px;
    transition:var(--transition-1);

}

.sidebar-link:is(:hover, :focus){
    color:rgba(0, 0, 0, 0.985);
}

.navbar{
    margin-block-end:60px;
}

.navbar-item:not(:last-child){
    margin-block-end: 15px;
}

.navbar-link{
    font-weight: 500;
    transition: var(--transition-1);
}

.navbar-link:is(:hover,:focus){
    color:rgba(0, 0, 0, 0.985);
}

.sidebar :is(.address, .contact-item){
    color:rgba(0, 0, 0, 0.985);
}

.sidebar .address{
    margin-block-start: 20px;
}

/* .sidebar .social-wrapper{
    
    justify-content: space-between;
    margin-block-start: 50px;
}  */
.social-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 50px;
    gap: 30px;
}
.social-list li{
   font-size: 40px;
  
}

.overlay{
    position:fixed;
    inset:0;
    background-color: rgba(245, 245, 245, 0.612);
    z-index: 4;
    opacity:0;
    pointer-events: none;
    transform: var(--transition-1);
}
.overlay.active{
    opacity:1;
    pointer-events: all;
}

/* ________MAIN__________ */

.hero-list{
    padding-left: 0%;
}
main figure{
    margin: 0;
}

/* _________HERO____________ */

.hero{
    padding-block-end: calc(var(--section-padding)+60px);
}

.hero-list{
    display: grid;
    gap: 15px;
}

.hero-card{
    position:relative;
}

.hero-card .imgcover{
    transition: var((--transition-2));
}

.hero-card:is(:hover, :focus) .imgcover{
    transform: scale(1.1);
}

.hero-card .card-content{
    position:absolute;
    top: 220px;
    left: 20px;
    right: 30px;   
}

.hero-card :is(.card-title, .card-text){
    font-weight: var(--fw-500);
}

.hero-card .card-title{
    font-size: var(--fs-3);
    transition: var(--transition-1);
}

.hero-card .card-title:is(:hover, :focus){
    color:rgba(0, 0, 0, 0.985); ;
}

/* ________ABOUT_________ */

.about{
    text-align: center;

}

.about .section-title{
  
  font-size:xx-large;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about .section-text{
    margin-block: 12px 45px;
}

.about-card{
    position: relative;
}

.about-card .img-cover{
    transition: var(--transition-2);
}

.about-card:is(:hover, :focus) .img-cover{
    transform: scale(1.1);
}

/* _________PRODUCT___________ */

.product .section-title{
    text-align: center;

}

.filter-btn-list{
    margin-block: 20px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.filter-btn-item{
    position: relative;
    display: flex;
}


.filter-btn-item:not(:last-child)::after{
    content: "|";
    margin-inline: 15px;
}

.filter-btn{
    transition: var(--transition-1);
}

.filter-btn.active{
    color:coral
}

.product-card{
    text-align: center;
}

.product-card .card-banner::before{
     inset:0;
     background-color: rgba(0, 0, 0, 0.149);
     opacity: 0;
     transition: var(--transition-1);
}

.product-card .card-banner:is(:hover, :focus-within)::before{
    opacity:1;
}

.product-card .card-action-List{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,100%);
    display: flex;
    gap:15px;
    opacity: 0;
    transition:1s;
}

.product-card .card-banner:is(:hover, :focus-within) .card-action-List{
    transform: translate(-50%, -50%);
    opacity:1;
}

.product-card .card-action-btn{
    background-color:white ;
    font-size: 22px;
    padding: 12px;
    border-radius: 50%;
    transition:2;
}

.product-card .card-action-btn:is(:hover, :focus) {
    color:rgba(0, 0, 0, 0.442) ;
}

.product-card .badge-list{
    position: absolute;
    top: 15px;
    left: 15px;
}

.product-card .badge{
    color:white;
    font-size: medium;
    font-weight: 500;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    line-height: 45px;
    margin-block-end:10px;
}

.product-card .badge.orange{
    background-color:rgba(210, 105, 30, 0.778);
}

.product-card .badge.cyan{
    background-color:rgba(30, 210, 153, 0.815);
}

.product-card .card-badge{
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: rgba(0, 0, 0, 0.292);
    padding-inline: 15px;
}

.product-card .h3{
    font-size: unset;
}

.product-card .card-title{
    color: black;
    font-weight: bolder;
    margin-block:10px 5px;
    font-size: large;
    transition: 1s;
}

.product-card .card-title:is(:hover, :focus){
    color:chocolate;
}

.product-card .card-price{
    display: flex;
    justify-content: center;
    gap: 20px;
    color:black;
    font-size: medium;
    margin-bottom: 5px;
}

.product-card .card-price .del{
    color: red;
}

.product-list>*{
    display: none;
}

.product-list[data-filter="all"]>*,
.product-list[data-filter="accessory"] > .accessory,
.product-list[data-filter="decoration"] > .decoration,
.product-list[data-filter="furniture"] > .furniture{
    display: block;
    animation: fadeUp 1s ease forwards;
}

@keyframes fadeUp {
    
    0%{
        opacity:0;
        transform: translateY(10px);
    }

    100%{
        opacity:1;
        transform: translateY(0);
    }
}

/* _______BLOGS__________ */

.blog .title-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10p 50px;
    margin-block-end: 50px;
}

.blog .btn-link{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    transform: 1s;
}

.blog .btn-link:is(:hover, :focus){
    color: rgba(0, 0, 0, 0.615);
}

.blog-card .card-banner{
    position: relative;
}

.blog-card .card-btn{
    position: absolute;
    bottom: 0;
    right:0;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 15px;
    transform: translateX(100%);
    transition: 1s;
}

.blog-card:is(:hover, :focus) .card-btn{
    transform: translateX(0);
}

.blog-card .card-title{
    margin-block: 20px 10px;
    transform: 1s;
    font-size: larger;
    font-weight: bolder;
}

.blog-card .card-title:is(:hover, :focus){
    color: rgba(175, 28, 28, 0.74);
}
.blog-card .card-meta-list{
    display:flex;
    align-items: center;
}

.card-meta-list{
    margin-bottom: 20px;
   
}
.card-meta-item{
    position: relative;
    color: gray;
    font-size: medium;
}

.card-meta-item:not(:last-child)::after{
    content:"/";
    margin-inline: 8px;
    color:gray;
}

.card-meta-text{
    display: inline-block;
    color: black;
    transform: 1s;
}

a.card-meta-text:is(:hover, :focus){
    color: rgba(175, 28, 28, 0.74);
}

/* _______NEWSLETTER_________ */

.newsletter{
    padding:20px;
    background-color: rgba(255, 127, 80, 0.184);
}

.newsletter-card{
    padding-inline: 15px;
}

.newsletter-card .card-content{
    margin-block-end:40px;
}

.newsletter .section-title{
    margin-block-end:8px;
    color:  rgba(249, 69, 4, 0.621);
}

.newsletter .card-form{
    position: relative;
    background-color: white;
    font-size: large;
    border-radius: 5px;
}

.newsletter-card .email-field{
    background-color: white;
    padding-block: 14px;
    padding-inline:20px 50px;
    outline:3px solid transparent;
    outline-offset: 0;
    transition:1s;
}

.newsletter-card .email-field:focus{
    outline-color:black;
}

.newsletter-btn{
    position: absolute;
    top:0;
    right: 0;
    bottom:0;
    padding-inline: 20px;
}

/* _______FOOTER__________ */

.footer-top{
    display: grid;
    gap: 30px;
    padding-block-end:40px ;
}

.footer-list-item{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-link{
    padding-block:4px;
    transition: 1s;
}

.footer-link:is(:hover, :focus){
    color:rgba(123, 119, 119, 0.719) ;
}
.footer-brand .social-list{
    margin-block-start: 30px;
}

.footer-list-title{
    color: rgba(0, 0, 0, 0.848);
    font-size: x-large;
    font-weight: 500;
    margin-block-end: 15px;
}

.footer-form{
    position: relative;
}

.footer .email-field{
    padding-block: 10px;
    padding-inline-end: 5px;
    border-block-end: 1px solid rgb(103, 102, 102);
    outline:none;
}

.footer .email-field.focus{
    border-color: rgb(63, 62, 62);
}

.footer-form-btn{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 20px;
    color: rgb(52, 50, 50);
}

.footer-list .wrapper{
   display: flex;
   gap: 20px;
   margin-block-start: 20px;
}

.copyright{
    text-align: center;
    padding-block: 20px;
}

.copyright-link{
    display: inline-block;
}

/* ______BACK TO TOP_______ */

.back-top-btn{
    position: fixed;
    bottom: 40px;
    right: 10px;
    color: rgba(210, 105, 30, 0.841);
    font-size: 50px;
    /* padding: 18px; */
    transition: 1s;
}

.back-top-btn:active{
    opacity: 1;
    visibility: visible;
    transform: translateY(-10px);

}

/* ________MEDIA QUERIES__________ */

/* responsive for larger than 575px screen */


 @media (min-width:535px){
    .container{
        max-width: 535px;
        width: 100%;
        margin-inline: auto;
    }
    .grid-list {
        grid-template-columns: 1fr 1fr;
        column-gap: 25px;
    }

    .grid-list > li:last-child{
        grid-column: span 2;
        max-width: calc(50% - 12.5px);
        width: 100%;
        margin-inline: auto;
    }

    .header .container{
        gap:15px;
    }
    .header .input-wrapper{
        display: block;
        position: relative;
    }

    .header .input-field{
        padding-block: 10px;
        padding-inline-end: 30px;
        border-block-end: 1px solid black;
        outline: none;
        transition: 1s;
        
    }

    .header .input-field::-webkit-search-cancel-button{
        display: none;

    }
    
    .header .input-field:focus{
        border-block-end-color:rgba(29, 28, 28, 0.841);
    }
    
    .header .input-wrapper ion-icon{
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        font-size: 15px;
         
    }
    .header-action{
        gap:25px;
    }

    .newsletter{
        background: rgba(255, 127, 80, 0.436);
    }
    .newsletter-card{
        background-color: grey;
        padding: 20px 30px;
    }

    .footer-top{
        grid-template-columns: 1fr 1fr;
    }
  
} 

@media (min-width:768px){
    .container{
        max-width: 768px;
    } 

    .header-action{
        gap: 35px;
    }  
    .header .input-wrapper{
        width: 200px;
    }
    .hero-list{
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        
    }
    .hero-list .hero-card{
        border:  5px solid grey;
    }
    .hero-list .colspan-2{
        grid-column:span 2;
    }

    .about .section-text{
        margin-block-end:75px;
    }

    .product .title-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-block-end: 80px;
     }

    .filter-btn-list{
        margin:0;
    }

    .newsletter-card{
        padding: 50px 70px;

    }
} 

@media (min-width:992px){
    .container{
        max-width: 992px;
    } 
    
    .grid-list > li:last-child {
        all:unset;
    }

    .grid-list{
        grid-template-columns: repeat(3,1fr);
    }

    .hero-card .card-title{
        padding-top: 2.2rem;
        font-size: larger;
    }

    .about .section-text{
        max-width: 85ch;
        margin-inline:auto;
    }

    .newsletter{
        padding: 50px;
        
    }

    .newsletter-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
    }

    .newsletter-card .card-content{
        margin-block-end: 0;
    }

    .footer-top{
        grid-template-columns: 1fr 0.75fr 0.6fr 1fr;
        padding-block-end: 60px;
    }


} 

@media (min-width:1500px){
    .container{
        max-width: 1500px;
    } 
    
    .grid-list > li:last-child {
        all:unset;
    }

    .grid-list{
        grid-template-columns: repeat(3,1fr);
    }

    .hero-card .card-title{
        padding-top: 2.2rem;
        font-size: larger;
    }

    .about .section-text{
        max-width: 85ch;
        margin-inline:auto;
    }

    .newsletter{
        padding: 50px;
        
    }

    .newsletter-card{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 40px;
    }

    .newsletter-card .card-content{
        margin-block-end: 0;
    }

    .footer-top{
        grid-template-columns: 1fr 0.75fr 0.6fr 1fr;
        padding-block-end: 60px;
    }

    .product-list{
        grid-template-columns:repeat(4, 1fr);
    }

} 